/*-----Header---------*/
.header-fixed {
	background-color: #ffffff;
    box-shadow: 0 1px 7px #ccc;
	padding: 20px 40px;
	height: 97px;
	color: #ffffff;
	box-sizing: border-box;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	/*max-width: 1200px;*/
	text-align: center;
	margin: 0 auto;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */
.text-uppercase{
	text-transform: uppercase;
}
nav ul li a p{
	    margin-top: -20px;
	    font-size: 80%;
    font-weight: 400;
}
.nav-link{
	    padding-right: .5rem;
    padding-left: .5rem;
    color: rgba(0,0,0,.5);
}
.header-fixed-placeholder{
	height: 80px;
	display: none;
}
.right{
	display: flex;
	margin: 0;
    list-style: none;
}
/* Logo */
.logo{
	width: 29%;
	float: left;
}
.logo a img{
	width: 186px;
}
.log{
	padding-top: 11px;
	float: left;
}
.header-fixed .header-limiter h1 {
	float: left;
	
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter .algn{
	position: relative;
    top: -8px;
}
body.fixed .header-fixed .header-limiter .algn{
	position: relative;
    top: 0px;
}
.header-fixed .header-limiter h1 span {
	color: #5383d3;
}

/* The navigation links */

.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 31px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}
.right-ver{
	width: 25%;
    background: #ff70a5;
    position: relative;
    top: -14px;
}


/* Fixed version of the header */

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 81px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
	    position: relative;
    top: 11px;
}


/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}

/*
	 We are clearing the body's margin and padding, so that the header fits properly.
	 We are also adding a height to demonstrate the scrolling behavior. You can remove
	 these styles.
 */

body {
	margin: 0;
	padding: 0;
	
}
.mbg{
	width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    /* right: 0; */
    /* left: -2%; */
    /* top: 0px; */
    background-position: -100px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
 
  z-index: 999;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #000 !important;
  z-index: 2;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.left-nav{
	background-color: #ff5d9b;
    z-index: 1;
    height: 100vh;
    box-shadow: 1px 1px 10px #0003;
}
.all{
	background: #fff;
    color: #5d5d5d !important;
    width: 180px;
    padding: 12px !important;
    margin: 0px auto;
    text-transform: uppercase;
    font-size: 15px !important;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0px 0px 7px #0808081f;
    margin-bottom: 54px;
    margin-top: 10%;
}
.btn-a{
   border: 2px solid #fff;
    padding: 9px 0px !important;
    width: 148px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 15px !important;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.line{
	margin-top: 3rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 2px solid rgb(255, 255, 255);
       margin-left: 8%;
    width: 220px;

}
.btom{
	font-size: 14px !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    padding-left: 75px !important;
}
.bx-wrapper .bx-controls-direction a {
       display: none;
    z-index: 1 !important;
}
.hide{
	display: none;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	color: transparent;}
.bx-viewport{
	top: -15px;
}
.right-v{
color: #000;
    left: -15px;
    margin-right: 0px;
    padding-right: 0px !important;
}

.right-v ul{
list-style: none;
    text-align: left;
    position: relative;
    top: 140px;
    margin-right: 40px;
}
.right-v ul li{
	padding: 20px 17px;
    border-bottom: 1px solid #1a1a1a3d;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #484848 !important;
        font-weight: 500;
        cursor: pointer;
}
.right-v ul li a{
	padding: 20px 0px !important;
    
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #484848 !important;
        font-weight: 500;
        font-size: 11px !important;
            cursor: pointer;
}
.bx-wrapper{
	box-shadow: 3px 6px 5px #cccccc75 !important; 
}
#div1{
	top: 30%;
}
#div1 h1{
	float: none;
    font-size: 25px;
    line-height: 3;
    letter-spacing: 2px;
   
    padding-left: 5%;
}
/*----Vertical Menu*-----/
.menu-container {
    width:100%;
    margin: 0 auto;
    padding: 20px 0;
}
.menu {
    width: 150px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    position: relative;
    padding: 0 0 0 4px;
    margin: 0;
    background-color: #227087;
}
.menu a, .menu a:link, .menu a:visited, .menu a:focus, span {
    color: #fff;
    text-decoration: none;
}
.menu a:hover {
    color: #227087;
    text-decoration: none;
}
.menu > li {
    display: block;
    text-align: center;
    margin-left: -4px;
    border-left: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
}
.menu > li > a {
    padding:20px 18px;
    display: block;
}
.menu > li:hover > a {
    color: #227087;
}
.menu > li:hover {
    background-color: #fff;
}
/* Megadrop width dropdown */
 .menu > li > .megadrop {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: 0px;
    left: 303px;
    width: 800px;
    min-height: 100%;
    text-align: left;
    margin-top:30px;
    padding: 0;
    z-index: 99;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    border-top: 2px solid #227087;
    border-right: 2px solid #227087;
    border-bottom: 2px solid #227087;
}
.menu > li:hover .megadrop {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}
.menu ul li:hover:after {
    color: #227087;
}
.menu .col {
    width: 14.1%;
    float: left;
    color:white;
    margin: 0 0 0 2.2%;
}
.menu .col ul {
    padding: 0;
    margin: 0;
}
.menu .col ul li {
    padding: 0;
    list-style: none;
    font-size: 11px;
}
.menu .col h3 {
    font-size: 16px;
    padding: 10px 0;
    font-weight: bold;
    margin: 5px 0 5px 0;
    color: #227087;
    background: #eee;
}
.menu .col ul li a {
    display: block;
    padding: 0 0 15px 0;
    color: #227087;
}
.menu .col ul li a:hover {
    color: #111;
    text-decoration: underline;
}
.menu > li > ul li ul, .menu li >ul li, .menu > li > .megadrop, .menu > li > ul, .menu > li {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-outs;
}




/*----Slider---*/
.bx-wrapper{
	width: 	100%;
	border:none !important;
    background: #fff;
    height: 76vh;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{
	display: none;
}
.svg-wave {
    /* background-color: #FFFFFF; */
    background-image: url(../images/svg-wave.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   position: relative;
    left: 0;
    bottom: 0px;
    margin-top: -45vh;
    /* z-index: 20; */
    height: 260px;
}
.svg-wave ul {
    position: absolute;
    /* left: 0; */
    bottom: 18px;
    list-style: none;
}
.p-2 {
    padding: .5rem!important;
}
.w-75 {
    width: 75%!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.text-center {
    text-align: center!important;
}
.pl-3, .px-3 {
    padding-left: 1rem!important;
}
.pr-3, .px-3 {
    padding-right: 1rem!important;
}
.border-right {
    border-right: 1px solid #dee2e6!important;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}
.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}
.d-inline-block {
    display: inline-block!important;
}
.align-top {
    vertical-align: top!important;
}
.text-capitalize {
    text-transform: capitalize !important;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    position: absolute !important;
    text-align: right !important;
    width: 100% !important;
    bottom: 80px !important;
    right: 70px !important;
    z-index: 999 !important;
}



.category_card {
    height: 400px;
    -webkit-filter: drop-shadow(0 0 35px rgba(126, 126, 126, 0.1));
    filter: drop-shadow(0 0 35px rgba(126, 126, 126, 0.1));
    background-color: #ffffff;
}
.category_card img {
    height: 400px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.category_card .card-overlay {
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.25rem;
    height: 60px;
}
.bg-light-50 {
    background-color: rgba(255, 255, 255, .7);
}
.font-weight-bold {
    font-weight: 700!important;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.float-left {
    float: left!important;
}
.d-inline {
    display: inline!important;
}
.float-right {
    float: right!important;
}
.carousel-caption-link {
    text-decoration: underline;
}
.text-body {
    color: #212529!important;
}
.bg-transparent {
    background-color: transparent!important;
}


/*--Product sllider--*/
.testimonials {
     background: #f7f7f7;
  position: relative;
  padding-top: 80px;
  margin-bottom: 10%;
}
/*.testimonials:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30%;
  background-color: #ddd;
}*/

#customers-testimonials .item-details {
 background-color:;
    color: #000;
    padding: 20px 10px;
    text-align: left;
}
#customers-testimonials .item-details h5 {
  margin: 0 0 3px;
  font-size: 18px;
  line-height: 18px;
}
#customers-testimonials .item-details h5 span {
  color: #ff609c;
  float: right;
  padding-right: 20px;
}
#customers-testimonials .item-details p {
  font-size: 14px;
      color: #717171;
}
#customers-testimonials .item {
  text-align: center;
  margin-bottom: 80px;
}


#customers-testimonialss .item-details {
 background-color:;
    color: #000;
    padding: 20px 10px;
    text-align: left;
}
#customers-testimonialss .item-details h5 {
  margin: 0 0 3px;
  font-size: 18px;
  line-height: 18px;
}
#customers-testimonialss .item-details h5 span {
  color: #ff609c;
  float: right;
  padding-right: 20px;
}
#customers-testimonialss .item-details p {
  font-size: 14px;
      color: #717171;
}
#customers-testimonialss .item {
  text-align: center;
  margin-bottom: 80px;
}

.owl-carousel .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
 width: 30px;
    height: 50px;
    line-height: 50px;
    /* border-radius: 50%; */
    position: absolute;
    top: 30%;
    font-size: 20px;
    color: #000;
    /* border: 1px solid #ddd; */
    text-align: center;
    background: #e0e0e0;
}

.owl-carousel .owl-prev {
  left: -70px;
}

.owl-carousel .owl-next {
  right: -70px;
}
.owl-carousel .owl-next :after{
	content: "";
    position: absolute;
    height: 100%;
    width: 15px;
    top: 0;
    /* border: 1px solid #0082c3; */
    border-right: none;
    /* border-color: #0082c3; */
    -ms-transform: skewX(10deg);
    transform: skewX(10deg);
    right: 20px;
    z-index: 10;
    background: #e0e0e0;
    z-index: -1;
} 
.owl-carousel .owl-prev:after{
	content: "";
    position: absolute;
    height: 100%;
    width: 15px;
    top: 0;
    /* border: 1px solid #0082c3; */
    border-right: none;
    /* border-color: #0082c3; */
    -ms-transform: skewX(10deg);
    transform: skewX(10deg);
    right: -5px;
    z-index: 10;
    background: #e0e0e0;
    z-index: -1;
} 
.shadow-effect{
	background: #fff;
    height: 304px;
    box-shadow: 0px -5px 29px #00000017;
}
.owl-carousel.owl-drag .owl-item{
	width: 300px !important;
}
.owl-carousel .owl-item img {
    display: block;
    width: 90px !important;
    -webkit-transform-style: preserve-3d;
    margin: auto;
    padding-top: 22px;
}
.owl-carousel .item a{
    letter-spacing: 1px;
    border: 1px solid #ff609c;
    padding: 8px 30px;
    border-radius: 6px;
    color: #4c4c4c;
    text-transform: uppercase;
}



/*0---join*/

.middle{
	height: 690px;
    background-repeat: no-repeat;
    background-size: contain;
}
.middle .textm{
	padding: 6% 7%;
}
.middle .textm h3{
	color: #f9508f;
    font-size: 38px;
    margin-bottom: 1%;
}
.middle .textm h1{
letter-spacing: 3px;
    /* text-transform: uppercase; */
    font-weight: 200;
    text-shadow: 1px 1px 3px #00000054;
    font-size: 79px;
}
.middle .textm h1 span{
	font-weight: bold;
    font-variant-caps: small-caps !important;
}
.middle .textm p{
	line-height: 25px;
    margin-top: 30px;
    padding-right: 67%;
    text-align: justify;
    letter-spacing: 1px;
    color: #868686;
    margin-bottom: 30px;
}
.more{
	border: 1px solid #ff609c;
    padding: 10px 23px;
    border-radius: 6px;
    color: #f9508f;
    letter-spacing: 1px;
}

.t-w200{
	font-weight: 200;
}
/*--clint--*/
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.clents{
	padding: 10%;
    background: #f7f7f7;
}
a{
	text-decoration: none !important;
}

/*--footer--*/
.bg-dark {
    background-color: var(--main-dark-color) !important;
}
.mt--subscribe {
    margin-top: -100px;
}

.havy-t{
	font-size: 14px;
	letter-spacing: 1px;
}
.p-t p, ul, li, a{
	font-size: 11px;
    font-weight: 100;
    letter-spacing: 1px;
}


/*---SEACRH----*/
.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    

 /* Form wrapper styling */
.search-wrapper {
       width: 435px;
    margin: 0px auto 0px auto;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2); */
    float: left;
    border: 1px solid #e8e8e8;
    height: 40px;
    margin-top: 0px;
}
 body.fixed .header-fixed .header-limiter .search-wrapper{
 	margin-top: 10px;
 }
/* Form text input */
 
.search-wrapper input {
width: 178px;
    height: 20px;
    padding: 20px 5px;
    float: left;
    border: 0;
    background: none;
    border-radius: 3px 0 0 3px;
        font-size: 13px;

}
 
.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: 100;
   letter-spacing: 1px;

}
 
.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.search-wrapper button {
overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 46px;
    width: 58px;
    color: white;
    text-transform: uppercase;
    background: #ff609c;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    position: relative;
    top: -4px;
}
   
/*.search-wrapper button:hover{     
    background: #e54040;
}  */ 
   
.search-wrapper button:active,
.search-wrapper button:focus{   
    background: #c42f2f;
    outline: 0;   
}
 
.search-wrapper button:before { /* left arrow */
  content: "";
    position: absolute;
    height: 100%;
    width: 15px;
    top: 0;
    border: 1px solid #0082c3;
    border-right: none;
    border-color: #ff609c;
    -ms-transform: skewX(10deg);
    transform: skewX(10deg);
    right: 50px;
    z-index: 10;
    background: #ff609c;
}
 
.search-wrapper button:hover:before{
    border-right-color: #e54040;
}
 
.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #c42f2f;
}      
 
.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    
/*.search-wrapper button:after{
	content: "f164";
    color: #fff;
    position: absolute;
    top: 11.5px;
    right: 20px;
}*/

/*UPload */
/*---Drag & Drop----*/
.upload-sr{
  clear: both;
    width: 100vw;
    margin-top: 140px;
    margin-top: 111px;
    height: auto;
    padding: 22px 30px;
}
.revision-div{
  text-align: center;
    background: #fff;
    padding: 25px 48px;
    margin: auto;
    padding-bottom: 24px;
}
.hed{
  text-align: center;
 margin-bottom: 50px;
}
.hed h3{

}
.imgg{
  width: 100%;
    margin-bottom: 50px;
    opacity: 0.6;
    text-align: center;
}
.imgg img{
  width: 300px;
    margin-bottom: 30px;
}
.imgg p{
  font-size: 19px;
  color: #676565;
}
.file-drop-area {
  height: 310px;
    position: relative;
    display: flex;
    align-items: center;
    width: 840px;
    max-width: 100%;
    padding: 0px;
    border: 1px dashed rgb(183, 183, 183);
    border-radius: 3px;
    transition: 0.2s;
    margin: auto;
    background: #f4f4f4;
}
.file-drop-area.is-active {
  background-color: rgba(255, 255, 255, 0.05);
}
.upcheck{
padding: 31px 0px !important;
}
.upcheck .checkbox-material{
  left: -9px;
}
.fake-btn {
flex-shrink: 0;
    background-color: #cecece;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0px;
    padding: 11px 45px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0px;
    left: -2px;
}
.fake-btn2 {
flex-shrink: 0;
    background-color: #ff609c;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0px;
    padding: 20px 31px;
    margin-right: 10px;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0px;
    right: -10px;
    letter-spacing: 1px;
    color: #fff;
}
.fake-btn svg{
  width: 30px;
  margin-left: 12px;
}
.fake-btn2 svg{
  width: 30px;
}
.file-msg {
   font-size: 19px;
    font-weight: 500;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #bdbdbd;
    letter-spacing: 1px;
    vertical-align: 7px;
}
.file-msgs {
  width: 625px;
    height: 73px;
    border-left: 1px dashed rgb(183, 183, 183);
    font-weight: 300;
    line-height: 5.4;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    position: absolute;
    bottom: -1px;
    left: 16.2%;
    border-top: 1px dashed rgb(183, 183, 183);
    text-align: start;
    padding-left: 41px;
}
.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100% !important;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.file-input:focus {
  outline: none;
}

.upview{
  background: #04063d ;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding: 0px 24px;
    outline: none;
    border: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 3.2;
    box-shadow: 1px 1px 20px #13111163;
}
.upview svg{
      margin-right: 14px;
    width: 24px;
}
.upre{
      background: #de2738;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding: 0px 24px;
    outline: none;
    border: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 3.2;
     box-shadow: 1px 1px 20px #b1a9a975;
}
.upre svg{
      margin-right: 14px;
    width: 24px;
}
.close-b{
  text-align: end;
}
.delete-b{
  text-align: start;
}
.uploasd{
	padding: 107px 60px;
    margin-right: 0px !important;

}
.uploasd p{
	color: #8e8e8e;
	letter-spacing: 1px;
}
.uploasd .leftup{
	    padding-right: 7%;

}
.uploasd .leftup input{
	border: none;
    border-bottom: 2px solid #adadad;
    padding: 10px 17px;
    width: 100%;
    margin-top: 5%;

}
.uploasd .leftup span svg{
    width: 24px;
    position: absolute;
    right: 100px;
    top: 69%;
}
/*----*/